# How to Running a Code / Program

##### You can use (".....") or ('.....')

In [5]:
print("Hello Word !")
print('Hello Word !')

Hello Word !
Hello Word !

# Types of Comments

##### Comments in Python start with a # character

### 1. Single-Line
##### (Can appear either in an individual line or inline with some other code)

In [7]:
# multiplying two variables
print('A')

A

### 2. Multiple-Line
##### (Can appear anywhere, but each line should be prefixed by # character)

In [3]:
# comments in python
# multiple-line comments
# program to multiply

# Docstring
##### -Documentation strings written within quotes that act as comments
##### -doc strings are not actually comments, but they are documentation strings
##### -These strings are written within triple quotes (""".........""") and not assigned to any variable
##### -doc strings are not permitted by the Interpreter unlike Comments are emitted by your interpreter and nothing present after the hashtag character is going to be read by it
##### -doc strings are strings that describe something about the code, actually tell what some function is going to do whereas the comments will tell how it is going to do

In [8]:
"""Using docstring as a comment. This code divides 2 numbers"""

'Using docstring as a comment. This code divides 2 numbers'

# VARIABLE

##### Variable is created as soon as youassign a value to it. It doesn't need any commands unlike other programming languages

#### -Variable Declaration-

In [10]:
x = 100
y="Edureka"
print(x)
print(y)

100
Edureka

In [11]:
x=100
y=200
print(x * y)
print(x - y)
print(x % y)

20000
-100
100

# DATA TYPES

## 1. Numbers

##### -Integer-

In [9]:
y=20

##### -Float-

In [10]:
x=10.18

##### -Complex-

In [11]:
z=1j #imaginary

##### -Boolean-

In [15]:
num = 10 > 9

In [16]:
type(num)

bool

In [17]:
num # it only returns tru or false for only categorical output

True

### How to check the data type of variable

In [12]:
type(x)

float

In [13]:
type(y)

int

In [14]:
type(z)

complex

## 2. String

In [12]:
x = 'hello'
y = 'world'
z = input()
print('here is an example', x, y, z)

y
here is an example hello world y

In [18]:
name = 'edureka'

In [19]:
len(name) #how many letters/numbers/spasi

7

In [20]:
name[2]

'u'

In [21]:
name[2:8] # the last index not count

'ureka'

In [22]:
name[2:6] # the last index not count

'urek'

In [23]:
name.upper() #enlarge letters

'EDUREKA'

In [24]:
name.lower() #reduce letters

'edureka'

In [25]:
name[-2] # counting backwards

'k'

In [26]:
name[5]

'k'

# 3. List

##### Ordered, can be changed. Duplicate entries are present

In [27]:
mylist = [10, 20, 30, 30, 'edureka', 'courses']

In [28]:
mylist[2:5]

[30, 30, 'edureka']

In [29]:
mylist[2]=35

In [30]:
mylist

[10, 20, 35, 30, 'edureka', 'courses']

In [32]:
mylist.append(10) #add index behind

In [33]:
mylist

[10, 20, 35, 30, 'edureka', 'courses', 10]

In [34]:
mylist.insert(5,100)  # insert index in the specified order

In [35]:
mylist

[10, 20, 35, 30, 'edureka', 100, 'courses', 10]

In [37]:
mylist.reverse() # index order from last to begin

In [38]:
mylist

[10, 'courses', 100, 'edureka', 30, 35, 20, 10]

## 4. Dictionary

##### Unordered, can be changed. NO Duplicate entries are present

In [13]:
animals = {'reptiles':'snake', 'mammals':'whale', 'amphibians':'frogs'}
print(animals)

{'reptiles': 'snake', 'mammals': 'whale', 'amphibians': 'frogs'}

In [15]:
courses = { 1: 'pyhton', 2: 'data science', 'third': 'machine learning'}

In [16]:
courses

{1: 'pyhton', 2: 'data science', 'third': 'machine learning'}

In [17]:
courses['third']

'machine learning'

In [19]:
courses.get('third')

'machine learning'

In [20]:
courses['third'] = 'hadoop'

In [21]:
courses

{1: 'pyhton', 2: 'data science', 'third': 'hadoop'}

## 5. Tuple

##### Ordered, cannot be changed. Duplicate entries are present

In [23]:
animals = (10, 10, 20, 'tiger', 'lion', 'giraffe', 'tiger')

In [24]:
animals[2]

20

In [25]:
animals.count('tiger') #count how many duplicate

2

## 6. Set

##### unordered, no duplicate entries are present. doesn't support index

In [26]:
myset = {10, 20, 30, 40, 40, 30, 'edureka', 'courses'}

In [27]:
myset

{10, 20, 30, 40, 'courses', 'edureka'}

In [28]:
myset[2] #try to access the values using the index numbers, but it's error. Because Set doesn't support indexes

TypeError: 'set' object is not subscriptable

# RANGE

##### Range is used whenever we are iterating through values suppose we want to numbers from 0 to 10

In [29]:
range(10)

range(0, 10)

In [32]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
a = [1, 2, 3, 4]
b = [4, 5, 6, 4, 6]
c = [a, b]

In [34]:
c # list C has the list a and a dictionary as well

[[1, 2, 3, 4], [4, 5, 6, 4, 6]]

# TYPE CONVERSION

### Type conversion specifies a type to a variable

In [2]:
x = (20)
y = ("number is")
z = 20
print(str(x * z), y, z)

400 number is 20

#### 1. int() - This function changes any data type to integer data type
#### 2. float() - This function changes any data type to float data type
#### 3. list() - This function changes any data type to tuple
#### 4. set() - This function changes any data type to a List
#### 5. dict() - This function changes any data type to a dictionary

In [3]:
x = 10
name = 'name'

In [4]:
x + name #error because the data type is different

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
#if you want the result not error, you have to make both data types the same
str(x) + ' ' + name

'10 name'

In [8]:
b = 4,5,6

In [9]:
list(b)

[4, 5, 6]